<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Github: https://github.com/AnyOptional
  ~  Created by Archer on 2019/10/12.
  ~  All rights reserved.
  -->

<beans>

    <bean id="log-bean-factory-post-processor" class="com.archer.spring.context.processor.LogBeanFactoryPostProcessor"/>

    <bean id="application-listener" class="com.archer.spring.context.processor.ApplicationListenerImpl"/>

</beans>